/* background image added */
body{background-image: url(https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg); font-family:serif;}
/* hare header manu style applied  */
.meanu{ padding-left: 5%; background-color: white}
/* left navigation button  */
.nvg{width: 35px; height: 35px;}
/* search box for search product  */
.search{margin-left: 25%; padding-right:15%; margin-bottom: 20px; height: 20px; width: 100px; border: 1px solid;}
/* here top left navigation buttions provied  */
.mywishlist{margin-left: 20%;}
.cart{margin-left: 1cm}
.user{margin-left: 1cm;}
 /* here search logo added */
.logo{width: 15px; height: 15px;}
/* hare give some navigaton link to categorized products  */
.h2{background-color: #e3e6e5 ; text-align: center; padding-top: 15px; padding-bottom: 15px;}
.h2link{text-decoration: none; padding-left: 1cm; font-size:larger;}
 /* top offerr block */
.offer{ font-weight: bold; font-size: calc(50px);}
.offermain{ background-color: rgb(170, 170, 228);}
/* hare three linear box added to make offer looks attractive */
#leftbox {
    float:left;
    background: #fae1e1;
    width:37.5%;
    height:80px;
    text-align: center;
}
#middlebox{
    float:left;
    background: #fae1e1;
    width:25%;
    height:80px;
    text-align: center;
}
#rightbox{
    float:right;
    background: #fae1e1;
    width:37.5%;
    height:80px;
    text-align: center;
}
/* offer below content size and link adjusted */
.below{font-size: small;}
/* product photo and details added */
.proleft{background-color: white; float: left;width: 50%; height: 700px;
}
.proright{background-color: white; float: left; width: 50%; height: 700px; text-align: center; margin-bottom: 1cm;
}
.photo{width: 500px ; height: 650px; float:right}
/* size selection button added  */
 label.radio {
    cursor: pointer
    }
    label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
    }
    label.radio span {
    padding: 8px 30px;
    border: 2px solid white;
    display: inline-block;
    color: #111010;
    border-radius: 3px;
    text-transform: uppercase
    }
    label.radio input:checked+span {
    border-color:#fae1e1;
    background-color: #fae1e1;
    color: rgb(4, 4, 4)
    }
    .btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
    }
    .btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important
    }
    .btn-danger:focus {
    box-shadow: none
    }
 /* add to cart button and chages its color looks  */
    .addcart{background-color:black; color:white; width: 250px; height: 50px; border-radius: 14px;}
    /* inside box free delivery offer shown  */
 .lastoffer{background-color: white;
    width: 50%;
    border: 2px solid rgb(8, 10, 8);
    padding: 20px;
    margin-left: 25%;
    /* here coustmer details added */
}
.bottom{ background-color: #fae1e1; width: 100%; height: 980px; text-align: center;}
.email{width: 250px; height: 20px; }

/* three vertical box added */
/* customer info */
.leftdiv{
    background-color: #fae1e1;
    float:left;
    width:37.5%;
    height: 400px;
    text-align: center;
}
/* delivery options */
.lastdiv{margin-top: 10px; }
.middlediv{
    background-color: #fae1e1;
    float:left;
    width:25%;
    height: 400px;
    text-align: center;
}
/* brand info */
.rightdiv{ 
    background-color: #fae1e1;
    float:right;
    width:37.5%;
    height:400px;
    text-align: center;}
    a{text-decoration: none; color: black;}